.footer {
  display: flex;
  font: 1rem monospace;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  color: var(--fontColor-secondary);
  background-color: var(--background-primary);
}

.footer p {
  flex: 1;
}

.footer p:nth-child(2) {
  text-align: center;
}

.footer p:last-child {
  text-align: right;
}
